*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-right: 0.15%;
    height: 75px;
    line-height: 75px;
    background: #777;
}

nav .navbar-brand{
    color: #ffffff;
    font-size: 28px;
    font-family: 500;
    letter-spacing: .5px;
}
nav .nav-list{

    display: flex;
}

nav .nav-list .nav-item{
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

nav .nav-list .nav-item:hover{
    background: #343;
}
nav .nav-list  .nav-link{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
 
@media (max-width: 935px){

    nav{
        padding: 0 2rem;
    }

    nav .nav-list .nav-item{
        padding: 0 20px;
    }
}

@media (max-width: 675px) {
    nav .nav-list{
        display: grid;
        position: absolute;
        background: #248863;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }
    
    nav .nav-list .nav-item{
        padding-left: 35px;
    }
}
nav .navbar-toggle{
    display: grid !important;
}
nav .navbar-toggle{
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}
nav .navbar-toggle .bar{
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background:  red;
    transition: .4s;
    border-radius: 10%;
}
input{
    display: none;
}
input:checked ~ nav .nav-list{
    transform: translateY(0);
}
input:checked ~ nav .navbar-toggle{
    margin-top: 35px;
}